In [2]:
import os
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
os.getcwd()

'C:\\Users\\rladu\\OneDrive\\바탕 화면\\jupyter\\인공지능'

In [4]:
from sklearn.datasets import load_boston

In [5]:
boston = load_boston()

In [6]:
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [7]:
X = boston['data']

In [8]:
Y = boston['target']

In [9]:
boston.feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [10]:
X.shape

(506, 13)

In [11]:
Y.shape

(506,)

In [12]:
Y.reshape(-1, 1).shape

(506, 1)

In [13]:
data = np.concatenate([X, Y.reshape(-1, 1)], axis = 1)

In [14]:
data = pd.DataFrame(data)

In [15]:
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [16]:
names = np.append(boston.feature_names, 'Y')

In [17]:
data.columns

RangeIndex(start=0, stop=14, step=1)

In [18]:
data.columns = names

In [19]:
data.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'Y'],
      dtype='object')

In [20]:
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Y
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [21]:
type(data)

pandas.core.frame.DataFrame

In [22]:
#iloc: 위치 정보
#loc: 인덱스 정보
data.iloc[5:10, 0:5]

      CRIM    ZN  INDUS  CHAS    NOX
5  0.02985   0.0   2.18   0.0  0.458
6  0.08829  12.5   7.87   0.0  0.524
7  0.14455  12.5   7.87   0.0  0.524
8  0.21124  12.5   7.87   0.0  0.524
9  0.17004  12.5   7.87   0.0  0.524

In [23]:
data.loc[:5, "CRIM"]

0    0.00632
1    0.02731
2    0.02729
3    0.03237
4    0.06905
5    0.02985
Name: CRIM, dtype: float64

In [24]:
data.shape

(506, 14)

In [25]:
# 70퍼를 트레이닝 데어터로 30퍼를 테스트 데이터로
num_train = round(0.7*data.shape[0])

In [26]:
# 트레이닝 데이터와 테스트 데이터를 나눔
train_data = data.iloc[:num_train, :]
num_vali = round(0.7*train_data.shape[0])

In [27]:
num_vali

248

In [28]:
train_data = data.iloc[num_vali:num_train, :]
vali_data = data.iloc[:num_vali, :]
test_data = data.iloc[num_train:, :]

In [29]:
data.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'Y'],
      dtype='object')

In [30]:
print(vali_data.shape)
print(train_data.shape)
print(test_data.shape)

(248, 14)
(106, 14)
(152, 14)

In [31]:
# 데이터들의 X, Y를 나눔
# 순서대로 나눈 거
# 랜덤으로 나눌 순 없을까? 있겠찌 sklearn 뒤져보기!
train_X = train_data.iloc[:, :-1]
train_Y = train_data.loc[:, 'Y']

In [32]:
vali_X = vali_data.iloc[:, :-1]
vali_Y = vali_data.loc[:, 'Y']

In [34]:
test_X = test_data.iloc[:, :-1]
test_Y = test_data.loc[:, 'Y']
print(test_X)
print(test_Y)

        CRIM    ZN  INDUS  CHAS    NOX     RM   AGE      DIS   RAD    TAX  \
354  0.04301  80.0   1.91   0.0  0.413  5.663  21.9  10.5857   4.0  334.0
355  0.10659  80.0   1.91   0.0  0.413  5.936  19.5  10.5857   4.0  334.0
356  8.98296   0.0  18.10   1.0  0.770  6.212  97.4   2.1222  24.0  666.0
357  3.84970   0.0  18.10   1.0  0.770  6.395  91.0   2.5052  24.0  666.0
358  5.20177   0.0  18.10   1.0  0.770  6.127  83.4   2.7227  24.0  666.0
..       ...   ...    ...   ...    ...    ...   ...      ...   ...    ...
501  0.06263   0.0  11.93   0.0  0.573  6.593  69.1   2.4786   1.0  273.0
502  0.04527   0.0  11.93   0.0  0.573  6.120  76.7   2.2875   1.0  273.0
503  0.06076   0.0  11.93   0.0  0.573  6.976  91.0   2.1675   1.0  273.0
504  0.10959   0.0  11.93   0.0  0.573  6.794  89.3   2.3889   1.0  273.0
505  0.04741   0.0  11.93   0.0  0.573  6.030  80.8   2.5050   1.0  273.0

     PTRATIO       B  LSTAT
354     22.0  382.80   8.05
355     22.0  376.04   5.57
356     20.2  377.73  17.60
357     20.2  391.34  13.27
358     20.2  395.43  11.48
..       ...     ...    ...
501     21.0  391.99   9.67
502     21.0  396.90   9.08
503     21.0  396.90   5.64
504     21.0  393.45   6.48
505     21.0  396.90   7.88

[152 rows x 13 columns]
354    18.2
355    20.6
356    17.8
357    21.7
358    22.7
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: Y, Length: 152, dtype: float64

In [112]:
# 학습 방법 - 알고리즘 직접 구현 or 라이브러리 사용
# 라이브러리 사용 방식
from sklearn.neighbors import KNeighborsRegressor as knn

In [113]:
#  KNN 객체 기본 생성
knn(n_neighbors=5, weights='uniform', algorithm='auto', leaf_size=30, p=2, metric='minkowski', metric_params=None, n_jobs=None)

KNeighborsRegressor()

In [114]:
#  이렇게 해도 기본 생성이 된다~!
KNN=knn()

In [115]:
# 학습 시킴
KNN.fit(train_X, train_Y)

KNeighborsRegressor()

In [134]:
K = [1,3 ,5 ,7, 9, 11]
MAPE_SET = []

# best K값을 찾음 - validation에서는 최선의 k여도 test에서는 아닐수도 있음
# 데이터의 패턴이 비슷하다는 가정하에 vali test를 하는 거
# 그렇다면 데이터의 패턴이 왜 다를까?
# 여러가지 이유가 있따 ~ ex) 시간 텀 / 데이터 수가 너무 작은 경우 - 데이터를 나누면 다 특성이 다를 수도 있음 / 
for k in K:
    knn(n_neighbors = k)
    #굳이 fit까지 반복문에 넣어야되나?
    KNN.fit(train_X, train_Y)
    pred = KNN.predict(vali_X)
    MAPE_SET.append(mse(vali_Y, pred))
    
MAPE_SET

[22.277956451612905,
 22.277956451612905,
 22.277956451612905,
 22.277956451612905,
 22.277956451612905,
 22.277956451612905]

In [118]:
# validation 데이터를 이용해 최적의 K값 찾기
knn(n_neighbors = 10)

KNeighborsRegressor(n_neighbors=10)

In [129]:
# 최적 K값 테스트
pred_n10 = KNN.predict(vali_X)
pred_n5 = KNN.predict(vali_X)

In [128]:
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_percentage_error as MAPE

print(mse(vali_Y, pred_n10))
print(mse(vali_Y, pred_n5))

22.277956451612905

In [92]:
# 테스트
pred = KNN.predict(test_X)
pred2 = KNN2.predict(test_X)
pred3 = KNN3.predict(test_X)

In [93]:
train_pred = KNN.predict(train_X)
train_pred2 = KNN2.predict(train_X)
train_pred3 = KNN3.predict(train_X)

In [70]:
pred
pred2

array([23.5, 23.5, 18.9, 18.9, 18.9, 18.9, 18.9, 18.9, 18.9, 18.9, 18.9,
       18.9, 18.9, 15.6, 18.9, 18.9, 18.9, 18.9, 18.9, 18.9, 18.9, 18.9,
       18.9, 18.9, 18.9, 18.9, 18.9, 18.9, 18.9, 18.9, 15.6, 18.9, 18.9,
       18.9, 18.9, 18.9, 18.9, 18.9, 18.9, 18.9, 18.9, 18.9, 18.9, 18.9,
       18.9, 18.9, 18.9, 18.9, 18.9, 18.9, 18.9, 18.9, 18.9, 18.9, 18.9,
       15.6, 13.1, 13.1, 13.1, 15.6, 13.1, 13.1, 15.6, 13.1, 13.1, 15.6,
       18.9, 18.9, 15.6, 15.6, 15.6, 13.1, 15.6, 15.6, 15.6, 13.1, 15.6,
       13.1, 15.6, 13.1, 13.1, 13.1, 13.1, 13.1, 15.6, 18.9, 18.9, 18.9,
       18.9, 18.9, 15.6, 13.1, 18.9, 18.9, 18.9, 15.6, 15.6, 18.9, 18.9,
       18.9, 13.1, 15.6, 15.6, 15.6, 15.6, 18.9, 15.6, 18.9, 18.9, 18.9,
       18.9, 18.9, 15.6, 18.9, 18.9, 18.9, 18.9, 18.9, 18.9, 18.9, 18.9,
       15.6, 18.9, 18.9, 18.9, 18.9, 18.9, 18.9, 18.9, 18.9, 18.9, 18.9,
       18.9, 18.9, 18.9, 18.9, 18.9, 18.9, 18.9, 21.7, 20.3, 20.3, 26.5,
       26.5, 26.5, 26.5, 27.5, 22.6, 22. , 23. , 23. , 28.7])

In [71]:
test_Y[:10]

354    18.2
355    20.6
356    17.8
357    21.7
358    22.7
359    22.6
360    25.0
361    19.9
362    20.8
363    16.8
Name: Y, dtype: float64

In [72]:
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_percentage_error as MAPE

In [73]:
# 본래 test data와 예측 완료 값 차이 측정 : MSE 방식 - 차이에 제곱
mse(test_Y, pred)

65.70256578947368

In [94]:
# 실제 값에 비해 어느정도 예측을 못했냐 - 39퍼센트 예측을 못했다~ 
print(MAPE(test_Y, pred) * 100)
print(MAPE(test_Y, pred2) * 100)
print(MAPE(test_Y, pred3) * 100)

39.750707963969774
43.033003679300094
69.4772258648799

In [96]:
print(MAPE(train_Y, train_pred)*100)
print(MAPE(train_Y, train_pred2)*100) # overfitting -> train 데이터를 너무 세밀하게 학습 -> test 데이터에서 에러가 나타난다~
print(MAPE(train_Y, train_pred3)*100) # underfitting -> train 데이터에서도 test 데이터에서도 에러가 크다

13.93728658761092
0.0
23.264261173612784