<h1> 데이터셋 랜덤 추출

In [15]:
import os
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split

In [17]:
boston = load_boston()

In [18]:
X = boston['data']
Y = boston['target']

In [19]:
boston.feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [20]:
data = np.concatenate([X, Y.reshape(-1,1)], axis = 1)

In [21]:
data = pd.DataFrame(data)

In [22]:
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [23]:
names = np.append(boston.feature_names, 'Y')

In [24]:
data.columns = names

In [25]:
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Y
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [26]:
data.shape

(506, 14)

In [90]:
#data X, Y 가르기
data_X = data.iloc[:, :-1]
data_Y = data.iloc[:, -1]

In [91]:
num_train = round(0.7*data.shape[0])

In [92]:
num_train

354

In [93]:
# train, test 데이터 나눔
train_X, test_X, train_Y, test_Y = train_test_split(data_X, data_Y, test_size = data.shape[0] - num_train, random_state=42)

In [94]:
num_vali = round(0.7*num_train)

In [49]:
num_vali

248

In [36]:
train_X.shape

(354, 13)

In [53]:
test_X.shape

(152, 13)

In [95]:
# validation 데이터 나눔
train_X, vali_X, train_Y, vali_Y = train_test_split(train_X, train_Y, test_size = num_train - num_vali, random_state=42)

In [96]:
train_X.shape

(248, 13)

In [97]:
vali_X.shape

(106, 13)

In [98]:
test_X.shape

(152, 13)

In [99]:
from sklearn.neighbors import KNeighborsRegressor as knn
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_percentage_error as MAPE

In [101]:
K = [1, 3, 5, 7, 9, 11]
MAPE_SET = []

for k in K:
    KNN = knn(n_neighbors = k)
    KNN.fit(train_X, train_Y)
    pred = KNN.predict(vali_X)
    MAPE_SET.append(MAPE(vali_Y, pred)*100)

In [102]:
MAPE_SET

[24.268211715292438,
 22.05698216328852,
 21.57283637756909,
 22.060801716105193,
 23.48394325588712,
 23.681332018506236]

In [103]:
best = np.where(MAPE_SET == min(MAPE_SET))[0][0]
best_k = K[best]

In [108]:
best_k

5

In [111]:
best_knn = knn(n_neighbors = best_k)
basic_knn = knn()

In [112]:
best_knn.fit(test_X, test_Y)
basic_knn.fit(test_X, test_Y)
predict_best = best_knn.predict(test_X)
predict_basic = basic_knn.predict(test_X)

In [113]:
print(MAPE(test_Y, predict_basic)*100)
print(MAPE(test_Y, predict_best)*100)

17.801149873451447
17.801149873451447

In [ ]:
# train data로 테스트

In [114]:
train_best_knn = knn(n_neighbors = best_k)
train_basic_knn = knn()

In [115]:
train_best_knn.fit(train_X, train_Y)
train_basic_knn.fit(train_X, train_Y)
train_predict_best = best_knn.predict(train_X)
train_predict_basic = basic_knn.predict(train_X)

In [116]:
print(MAPE(train_Y, train_predict_basic)*100)
print(MAPE(train_Y, train_predict_best)*100)

22.063019513615455
22.063019513615455